name: "Publish Sample Manifest Images"
run-name: Publish Sample Manifest Images to ghcr.io

on:
  push:
    branches:
      - main
      - develop
    paths:
      - test/portal-app/workshops/**
  workflow_dispatch:

jobs:
  publis-sample-workshop-manifest-images:
    strategy:
      matrix:
        bundle: [workshop-bundle-animals, workshop-bundle-colours]
    name: Publish image
    runs-on: ubuntu-latest
    steps:
      - name: Install Carvel tools
        shell: bash
        run: curl -L https://carvel.dev/install.sh | bash

      - name: Calculate release variables
        shell: bash
        run: |
          REPOSITORY_NAME=${{github.event.repository.name}}-${{matrix.bundle}}-manifests
          echo "REPOSITORY_NAME=${REPOSITORY_NAME,,}" >>${GITHUB_ENV}
          echo "REPOSITORY_OWNER=${GITHUB_REPOSITORY_OWNER,,}" >>${GITHUB_ENV}

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get next version
        uses: reecetech/version-increment@2023.9.3
        id: version
        with:
          scheme: semver
          increment: patch

      - name: Login to ghcr.io
        run: |
          echo ${{secrets.GITHUB_TOKEN}}|docker login ghcr.io -u ${{github.actor}} --password-stdin

      - name: Publish image to GHCR as Imgpkg bundle
        run: |
          imgpkg --debug push \
                 --file ./test/portal-app/workshops/${{ matrix.bundle }} \
                 --image ghcr.io/${REPOSITORY_OWNER}/${REPOSITORY_NAME}:${REPOSITORY_TAG}
        env:
          REPOSITORY_TAG: ${{ steps.version.outputs.version }}

      - name: Install crane
        uses: imjasonh/setup-crane@v0.1

      - name: Create latest tag
        run: |
          crane tag ghcr.io/${REPOSITORY_OWNER}/${REPOSITORY_NAME}:${REPOSITORY_TAG} ${TAG}
        env:
          REPOSITORY_TAG: ${{ steps.version.outputs.version }}
          TAG: ${GITHUB_REF##*/}
